@mixin box-shadow($offset-x, $offset-y, $blur-radius, $color) {
    box-shadow: $offset-x $offset-y $blur-radius $color;
}

@mixin transition($property, $duration, $ease) {
    transition: $property $duration $ease;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin overlay-content {
    position: absolute;
    margin-top: 2rem;
    opacity: 0;
    @include transition(opacity, 0.3s, ease-in-out);
    z-index: 2;
    text-align: center;
}

@mixin favorite-button {
    border: 1px solid $favorite-border-color;
    border-radius: 1rem;
    background-color: $favorite-bg-color;
    padding: 0.6rem 1.3rem;
    cursor: pointer;
    color: $favorite-text-color;
    @include transition(background-color, 0.5s, ease-in-out);
    @include transition($favorite-hover-text-color, 1s, ease-in-out);
    
    

    &:hover {
        background-color: $favorite-hover-bg-color;
        color: $favorite-hover-text-color;
    }
}

@mixin body-styles {
    background-color: $body-bg-color;
    padding: $body-padding;
    height: $body-height;
    overflow: $body-overflow;
    font-family: $body-font-family;
}